<mat-toolbar>
 <span>LeetCode RankList</span>
 <span class="example-spacer"></span>
 <button mat-raised-button (click)="openAddEditUserForm()">Add user</button>
</mat-toolbar>

<div class="main-body">
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Harendra" #input>
    </mat-form-field>
      
    <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
    
        <!-- ID -->
        <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>
    
        <!-- name -->
        <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>
    
        <!-- country Column -->
        <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Country </th>
        <td mat-cell *matCellDef="let row"> {{row.country}} </td>
        </ng-container>
    
        <!-- email Column -->
        <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </th>
        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
        </ng-container>
    
        <!-- institute Column -->
        <ng-container matColumnDef="institute">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Institute </th>
        <td mat-cell *matCellDef="let row"> {{row.institute}} </td>
        </ng-container>
    
        <!-- lusername Column -->
        <ng-container matColumnDef="lusername">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> LeetCode Username </th>
        <td mat-cell *matCellDef="let row"> {{row.lusername}} </td>
        </ng-container>
        <!-- rating Column -->
        <ng-container matColumnDef="rat">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Leetcode Rating</th>
            <td mat-cell *matCellDef="let row" class="custom-margin">{{row.rat}}</td>
          </ng-container>
          

        <!-- Actions Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
            <!-- <td mat-cell *matCellDef="let row"> {{row.action}}  --cut this </td> -->
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button color="primary" (click)="openEditForm(row)" >
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deleteUser(row.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
            
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>
    
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
</div>
  
  